{% extends 'retailer/base.html' %}

{% block title %} کالا {% endblock title %}

{% block content %}
    {% if categories %}
        <div class="box">
            {% for category in categories %}
                {% include 'retailer\product\parts\category_list_item.html' %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="columns is-multiline mb-6">

        {% if products %}
            {% for product in products %}
                {% include 'retailer/product/parts/product_list_item.html' %}
            {% endfor %}

        {% else %}
            <p class="has-text-danger"> کالایی در شهر شما ثبت نشده است </p>
        {% endif %}

    </div>

    </div>
{% endblock content %}
